<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= image_tag(@picture.image_url, id: 'pic') if @picture.image? %>
    <%= f.fp_file_field :image, onchange: '$("#pic").attr("src", arguments[0].files[0].url)' %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
